model/registry/**
!model/registry/weights/
!model/registry/weights/model_blocked__bigCONV__PCA_LIST_0.pth

model/data_process/pcaweights*
!model/data_process/pcaweights_ext_LIST_0.pca
model/data_process/pca_old

model/flame_pytorch/model/*
**/__pycache__
model/logs/*

obj_output_files/**

dataset_creation/create_coords_from_video/mmod_human_face_detector.dat
dataset_creation/create_coords_from_video/shape_predictor_68_face_landmarks.dat
