model/registry/**
!model/registry/weights/
!model/registry/weights/model_bns.pth
!model/registry/dataset/
!model/registry/dataset/train/
!model/registry/dataset/train/images/
!model/registry/dataset/train/images/dataimg00101.jpeg
!model/registry/dataset/train/coords/
!model/registry/dataset/train/coords/condcords00101_3d.txt

model/data_process/pcaweights*
!model/data_process/pcaweights_ext.pca

model/flame_pytorch/model/*
**/__pycache__
model/logs/*

obj_output_files/**

dataset_creation/create_coords_from_video/mmod_human_face_detector.dat
dataset_creation/create_coords_from_video/shape_predictor_68_face_landmarks.dat
